

.slect{
    background-color: rgb(0, 0, 0);
}

#tab-menu-div{
    background-color: rgb(0, 0, 0);
}

.tab-content-heading{
    background-color: rgb(0, 0, 0);
}

#imgHash{
    border-radius: 3px;
}

#back{
    border: 1px solid rgb(128, 0, 255);
    color: rgb(128, 0, 255);
    background-color: black;
    height: 34px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
}

@media (max-width: 590px) {
    
    .slect{
        height: 57px;
        font-size: 13px;
        width: 100%;
    }

    #tab-menu-div{
        width: 350px;
        border: none;
    }

    .tab{
        background-color: rgb(0, 0, 0);
        width: 340px;
    }

    .tab-content-heading{
        width: 320px;
        margin-left: 0px;
        font-size: 18pxx;
    }

    #hero-content{
        width: 340px;
        margin-left: 0px;
        margin-top: 15px;
    }

    #imgHash{
        width: 320px ; 
        height: auto;
    }

    .tabcontent{
        border: none;
    }

    #back{
        margin-left: 14px;
    }


}

